<!DOCTYPE html>
<html>
<head>
  <title>Events</title>
  <!--Bootstrap-->
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

  

</head>
<body>
<div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Events!</h1>
        <p>This is a place for cool people to find fun things to do.</p>
       <button>  <%= link_to 'Events', events_path %></button>
      </div>

    

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>