



<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
     <a class="brand" href="/events">Events</a>
       <ul class="nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="/">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
      </div>
 
    </div>
  </div>
</div>

           
<div class="row">
    <div class="span8 offset2">
        <form class="well form-search">
            <input type="text" class="input-xxlarge search-query">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>




<div class="modal-body">
    <div class="row-fluid">
        <div class="span12">
            <div class="span6">
            <div class="logowrapper">
                <img class="logoicon" src="http://placehold.it/300x300/bbb/&text=Your%20Logo" alt="App Logo"/>
            </div>
            </div>


<div id="footer">
 <div class="navbar navbar-inner  navbar-fixed-bottom">
      <center> <a href="#signupModal" data-toggle="modal" class="btn btn-primary btn-large" style="font-size:27px;margin-top:20px;">Signup Now</a> &nbsp; &nbsp; &nbsp; &nbsp;           
          <a href="./find/" data-toggle="modal" class="btn btn-large" style="font-size:27px;margin-top:20px;">Find Items</a></center></          
  
 </div>

       




           
  
<head>
  <title>Events</title>
  <!--Bootstrap-->
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">


    

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>





